<div class="grid">
    <div class="col-12">
        <div class="field">
            <label>Carte ID</label>
            <p-autoComplete [(ngModel)]="carte" [suggestions]="filteredCartes" (onSelect)="doOnSelect($event)"
                (completeMethod)="filterCartes($event)" [field]="getLabel" [dropdown]="true">
            </p-autoComplete>
        </div>
        <div class="field">
            <label for="CarteId">CarteId : </label> <label id="CarteId" *ngIf="carte.carteId">{{carte.carteId}}</label>
        </div>
        <div class="field">
            <label for="Solde">Solde : </label> <label id="Solde" *ngIf="carte.nbPoints">{{carte.nbPoints}}</label>
        </div>
        <div class="field">
            <label for="Nom">Nom  : </label> <label id="Nom" *ngIf="client.nom">{{client.nom}}</label>
        </div>
        <div class="field">
            <label for="Prenom">Prénom  : </label> <label id="Prenom" *ngIf="client.prenom">{{client.prenom}}</label>
        </div>
        <div class="field">
            <label for="Email">Email  : </label> <label id="Email" *ngIf="client.email">{{client.email}}</label>
        </div>
        <div class="field">
            <label for="nbPoints">NbPoints  : </label>
            <input type="text" pInputText id="nbPoints" [(ngModel)]="nbPoints" required autofocus />
        </div>
        <div class="field">
        </div>
            <button pButton pRipple label="Save" icon="pi pi-check" (click)="usePoints()"></button>
    </div>
</div>